.sobre-rede {
  padding-top: 60px;

  .header-text {
    margin-bottom: 30px;
  }

  .fazemos-somos-realizamos {
    padding-top: 50px;
    padding-bottom: 50px;

    .tns-nav {
      text-align: center;

      button {
        border: none;
        background: $green;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        margin: 0px 3px;
        opacity: 0.4;

        &.tns-nav-active {
          opacity: 1 !important;
        }
      }
    }

    .carousel-fsr {
      .item {
        img {
          border-top-left-radius: 57px;
          border-top-right-radius: 57px;
          width: 100%;
        }
        .wrapper {
          padding: 30px 40px;
          background: #f2f2f2;
          border-radius: 0px 0px 57px 57px;
          text-align: center;

          .name {
            font-weight: bold;
            font-size: 23px;
            color: $blue;
          }

          .line-title {
            max-width: 70%;
            margin-right: auto !important;
            margin-left: auto !important;
            margin-bottom: 20px !important;
          }

          p {
            font-size: 16px !important;
            &:last-of-type {
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }
  }
}

.conquistas-da-rede-sobre {
  .title {
    text-align: center;
  }

  .video {
    margin-bottom: 30px;

    iframe {
      width: 100%;
    }
  }

  .wrapper-conquistas-sobre {
    .carousel-conquistas-sobre {
      .item {
        .wrapper {
          display: flex;
          align-items: center;
          color: $blue;

          img {
            width: 90px;
            margin-right: 10px;
          }

          .big {
            font-weight: 300;
            font-size: 63px;
            line-height: 65px;
            display: flex;
            align-items: center;
            color: $blue !important;

            span {
              font-size: 25px;
              line-height: 25px;
              display: inline;
              margin-left: 5px;
            }
          }

          .small {
            font-size: 22px;
            line-height: 25px;
            color: $blue !important;
          }
        }
      }
    }

    .tns-nav {
      text-align: center;
      margin-bottom: 50px;

      button {
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background: $green;
        margin: 0 3px;
        border: none;
        opacity: 0.5;

        &.tns-nav-active {
          opacity: 1;
        }
      }
    }

    .btn-cta {
      border-radius: 60px !important;
      margin-bottom: 40px;
    }
  }
}

.circularidade {
  .caroussel {
    margin-bottom: 60px;
    .name {
      font-weight: bold;
      font-size: 32px;
      color: $blue;
    }

    p {
      margin-bottom: 35px;
    }

    .text-eye {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 35px;
      .titulo {
        font-size: 18.5px;
        color: #23adee;
        max-width: 60%;
      }
    }

    .carousel-pdf {
      .icon-box {
        background: #eaeaea;
        border-radius: 60px;
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .carousel-eventos,
    .carousel-videos {
      .thumb {
        border-radius: 60px;
        height: 190px;
        width: 100%;
      }
    }

    .carousel-eventos {
      .item {
        position: relative;
        .gallery {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          z-index: 5;

          &:first-of-type {
            z-index: 6;
          }
        }
      }
    }

    .carousel-videos {
      .item {
        border: none;
        background: none;

        .wrapper {
          position: relative;
          .play-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 4;
            transform: translate(-50%, -80%);
            height: 50px;
          }
        }
      }
    }
  }
}

.modal {
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 95%;
    margin: 0;

    iframe {
      width: 100%;
      height: 200px;
    }
  }
}

@media (min-width: map-get($grid-breakpoints,lg )) {
  .modal {
    .modal-dialog {
      width: 800px;
      max-width: unset !important;
      height: 500px;

      .modal-content,
      iframe {
        height: 100%;
      }
    }
  }

  .sobre-rede {
    .container {
      max-width: 1300px;

      p {
        max-width: 90%;
      }
    }

    .line-title {
      margin-left: 0 !important;
    }

    img.col-lg-5 {
      border-radius: 57px;
    }

    .carousel-fsr {
      margin-bottom: 60px;
      .item:nth-child(even) {
        margin-top: 80px;
      }

      p {
        margin: 0 auto;
      }
    }
  }

  .conquistas-da-rede-sobre {
    .lg-wrapper {
      max-width: 1300px;
      padding: 0 30px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wrapper-conquistas-sobre .carousel-conquistas-sobre {
        .item {
          & + .item {
            margin-top: 20px;
          }

          .wrapper {
            div {
              display: flex;
              align-items: center;

              .small.s1 {
                max-width: 220px;
                margin-left: 15px;
              }

              .small.s2 {
                max-width: 50%;
                margin-left: 15px;
              }

              .small.s3 {
                max-width: 60%;
                margin-left: 15px;
              }
            }
          }
        }
      }

      .video {
        margin-bottom: 0;
        iframe {
          border-radius: 57px;
        }
      }
    }
  }

  .circularidade {
    margin-top: 100px;

    .container {
      display: flex;
      align-items: center;

      margin-bottom: 20px !important;
      padding: 0 !important;

      .name {
        margin-right: 15px;
      }

      p {
        margin: 0;
      }
    }

    .container.d-lg-block {
      margin-bottom: 40px !important;
    }

    .lg-wrapper,
    .container {
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 30px;
    }

    .caroussel {
      position: relative;

      .text-eye {
        .titulo {
          max-width: 75%;
        }
      }

      .tns-controls {
        // position: absolute;
        // width: 104%;
        // top: 46%;
        // display: flex;
        // justify-content: space-between;
        // z-index: 5;
        // left: -20px;

        button {
          border: none;
          height: 50px;
          width: 50px;
          background: white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          position: absolute;
          z-index: 4;
          top: 40%;

          &:first-of-type {
            left: -30px;
          }

          &:last-of-type {
            right: -30px;
          }

          i {
            color: $green;
          }
        }
      }

      & + .caroussel {
        margin-top: 40px;
      }
    }

    .title {
      text-align: center !important;
    }
  }
}
