.contato {
  padding-top: 60px;

  .btn-cta {
    font-size: 18.5px !important;
    padding: 24px !important;
    margin-top: 30px !important;
    margin-bottom: 40px !important;
    background: $blue;
  }

  .gray-box {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #eaeaea;

    .item {
      & + .item {
        margin-top: 30px;
      }

      .titulo {
        font-weight: bold;
        font-size: 26px;
        color: $blue;
        margin-bottom: 20px;
      }

      a {
        @extend p;

        margin-bottom: 10px;
        display: inline-block;
      }

      .midias {
        a + a {
          margin-left: 7px;
          display: inline-block;
        }
      }

      &.telefones {
        p {
          display: inline-block;
        }

        a {
          margin-left: 5px;
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints , lg)) {
    padding-top: 100px;
    position: relative;
    overflow: hidden;

    .fundo-contato {
      position: absolute;
      width: 900px;
      left: -300px;
      bottom: -50px;
    }

    .wrapper-contato {
      max-width: 1140px;
      padding-left: 30px;
      padding-right: 30px;
      margin: 0 auto;

      display: flex;

      .container {
        p + p {
          margin-top: 15px;
        }

        .line-title {
          margin-left: 0 !important;
          width: 75%;
        }

        .btn-cta {
          margin-left: 0 !important;
        }
      }

      .gray-box {
        border-radius: 57px;
        padding: 60px 30px;
        margin-bottom: 120px;

        .item a:hover {
          color: $green;
        }

        .custom-p-lg {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }
}
