.nossos-elos {
  .line-title {
    margin: 0 auto;
    margin-bottom: 30px !important;
  }

  .resumo {
    text-align: center;
    font-size: 16px;
    @media (min-width: map-get($grid-breakpoints,lg )) {
      margin: 0 auto !important;
      margin-bottom: 40px !important;
      font-size: 19px !important;
      max-width: 70%;
    }
  }

  .elos-mobile {
    .item {
      height: 300px;
      .row {
        height: 100%;
        align-items: center;
        text-align: center;
      }
    }
  }
  .elos-desktop {
    .item {
      height: 456px;
      .row {
        height: 100%;
        text-align: center;
        align-items: center;
      }
    }
  }
}
.elos-mobile {
  .tns-nav {
    height: 10px;
    display: flex !important;
    align-items: center;
    margin-top: 35px;
    justify-content: center;
    button {
      background: #2a9549;
      opacity: 0.75;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 0;
      display: block;
      margin: 0 5px;
      padding: 0;
      &:nth-child(1) {
        margin-left: 0;
      }
      &:nth-last-child(1) {
        margin-right: 0;
      }
      &.tns-nav-active {
        opacity: 1;
      }
    }
  }
  .card-header {
    padding: 0;
    color: white;
    .botao-acordeao {
      padding: 20px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      .grupinho {
        display: flex;
        align-items: center;
        width: 325px;
        justify-content: flex-start;
      }
      h2 {
        margin-left: 15px;
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
}
.elos-desktop {
  padding-top: 20px;
  padding-bottom: 60px;
  .rodar-menu {
    position: relative;
    .texto-menu-circular {
      position: absolute;
      top: 120px;
      left: 125px;
      font-size: 22px;
      color: #374b58;
      font-weight: bold;
      &.consumidor-tab {
        top: 120px;
        left: 94px;
      }
      &.transformador-de-embalagem-tab {
        top: 120px;
        left: 79px;
      }
      &.reciclador-tab {
        top: 120px;
        left: 89px;
      }
      &.gestor-de-residuos-tab {
        top: 120px;
        left: 94px;
      }
      &.cooperativas-tab {
        top: 120px;
        left: 79px;
      }
      &.rede-de-varejo-tab {
        top: 120px;
        left: 77px;
      }
      &.bens-de-consumo-tab {
        top: 120px;
        left: 89px;
        max-width: 68%;
      }
      &.petroquimica-quimica-aditivo-e-distribuidor-tab {
        top: 120px;
        left: 86px;
        width: 240px;
      }
    }
    .circulo-menu {
      width: 286px;
      height: 286px;
      border-radius: 50%;
      border:2px dashed #cccccc;
      margin-top: 38px;
      margin-left: 38px;
      transition: all ease 0.5s;
      transform: rotate(0deg); //ponto inicial
      .bola{
        width: 23px;
        height: 23px;
        background-color: #00AFE6; //cor inicial
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 30px;
      }
      &.consumidor-tab {
        transform: rotate(0deg);
      }
      &.transformador-de-embalagem-tab {
        transform: rotate(
          -175deg
        ); //petroquimica-quimica-aditivo-e-distribuidor-tab
      }
      &.reciclador-tab {
        transform: rotate(-33deg); //reciclador-tab
      }
      &.gestor-de-residuos-tab {
        transform: rotate(-66deg); //rede-de-varejo-tab
      }
      &.cooperativas-tab {
        transform: rotate(-95deg); //cooperativas-tab
      }
      &.rede-de-varejo-tab {
        transform: rotate(-123deg); //gestor-de-residuos-tab
      }
      &.bens-de-consumo-tab {
        transform: rotate(-150deg); //bens-de-consumo-tab
      }
      &.petroquimica-quimica-aditivo-e-distribuidor-tab {
        transform: rotate(-196deg); //consumidor-tab
      }
    }
  }
  .conteudo-tabs {
    padding-left: 60px;
    .tns-nav {
      height: 10px;
      display: flex !important;
      align-items: center;
      margin-top: 35px;
      justify-content: center;
      button {
        background: #2a9549;
        opacity: 0.75;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 0;
        display: block;
        margin: 0 5px;
        padding: 0;
        &:nth-child(1) {
          margin-left: 0;
        }
        &:nth-last-child(1) {
          margin-right: 0;
        }
        &.tns-nav-active {
          opacity: 1;
        }
      }
    }
  }
  .menu-tabs {
    position: relative;
    padding: 113px 82px 25px 80px;

    ul {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 0;
      li {
        margin-bottom: 0;
        .tab-elo {
          position: absolute;
          z-index: 15;
          // opacity: 0.8;
          border: 0;
          padding: 10px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          &.active:not(#todos-tab) {
            opacity: 1;
          }
          &#consumidor-tab {
            //maior
            top: 72px;
            right: 25px;

            width: 110px;
            height: 110px;
          }
          &#reciclador-tab {
            top: 0;
            right: 157px;
            width: 100px;
            height: 100px;
          }
          &#gestor-de-residuos-tab {
            top: 18px;
            right: 297px;
            width: 88px;
            height: 88px;
          }
          &#cooperativas-tab {
            top: 100px;
            right: 402px;
            width: 77px;
            height: 77px;
          }
          &#rede-de-varejo-tab {
            top: 211px;
            right: 500px;
            left: 0;
            width: 66px;
            height: 66px;
          }
          &#bens-de-consumo-tab {
            top: 320px;
            right: 594px;
            left: 13px;
            width: 55px;
            height: 55px;
          }
          &#transformador-de-embalagem-tab {
            top: 408px;
            right: 524px;
            left: 63px;
            width: 44px;
            height: 44px;
          }
          &#petroquimica-quimica-aditivo-e-distribuidor-tab {
            //menor
            top: 467px;
            right: 330px;
            left: 130px;
            width: 33px;
            height: 33px;
          }
        }
      }
    }
  }
  @media(min-width:1400px){
    .menu-tabs {
      
  
      ul {
        
        li {
          
          .tab-elo {
            
            &#consumidor-tab {
              //maior
              top: 72px;
              right: 115px;
  
              width: 110px;
              height: 110px;
            }
            &#reciclador-tab {
              top: 0;
              right: 250px;
              width: 100px;
              height: 100px;
            }
            &#gestor-de-residuos-tab {
              top: 18px;
              right: 400px;
              width: 88px;
              height: 88px;
            }
            &#cooperativas-tab {
              top: 100px;
              right: 495px;
              width: 77px;
              height: 77px;
            }
            &#rede-de-varejo-tab {
              top: 211px;
              right: 500px;
              left: 0;
              width: 66px;
              height: 66px;
            }
            &#bens-de-consumo-tab {
              top: 320px;
              right: 594px;
              left: 13px;
              width: 55px;
              height: 55px;
            }
            &#transformador-de-embalagem-tab {
              top: 408px;
              right: 524px;
              left: 63px;
              width: 44px;
              height: 44px;
            }
            &#petroquimica-quimica-aditivo-e-distribuidor-tab {
              //menor
              top: 467px;
              right: 330px;
              left: 130px;
              width: 33px;
              height: 33px;
            }
          }
        }
      }
    }
  }
}
