.eventos {
  span{
    display: initial;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
    padding-top: 80px;

    .line-title {
      margin-left: 0 !important;
    }

    .aside-img {
      border-radius: 57px;
    }
  }
}

.anteriores {
  .title,
  .titulo,
  .sub,
  .barradenavegacao ul li a {
    color: #717171 !important;
  }

  .data-local img {
    filter: invert(46%) sepia(6%) saturate(13%) hue-rotate(90deg)
      brightness(94%) contrast(89%);
  }

  .btn-cta,
  .line-title {
    background: #717171 !important;
  }
}

.eventos-estrutura {
  margin-bottom: 40px;

  .sub {
    font-weight: bold;
    font-size: 32px;
    color: $blue;
    margin-bottom: 40px;
  }

  .wrapper {
    .barradenavegacao {
      padding: 0 15px;
      margin: 0 auto;
      margin-top: 20px !important;

      ul {
        list-style: none;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;

        font-size: 16px;
        li {
          margin: 0 15px;
          a {
            color: $blue;
          }
          .current {
            font-weight: 700;
          }
        }
      }
    }
  }

  .item {
    & + .item {
      margin-top: 25px;
    }
    .bg-item {
      height: 171px;
      border-radius: 57px 57px 0px 0px;
      background-size: cover !important;
      background: #eaeaea;
    }
    .infos {
      padding: 25px;
      border-radius: 0px 0px 57px 57px;
      background: #f2f2f2;
      display: flex;
      flex-direction: column;

      .wrapper-dl {
        flex: 1;
      }

      .titulo {
        font-weight: bold;
        font-size: 32px;
        color: $blue;
      }

      .line-title {
        width: 80%;
      }

      .data-local {
        display: flex;
        align-items: center;
        margin-top: 5px;

        img {
          margin-right: 10px;
        }
      }

      span,
      p {
        font-size: 16px !important;
        color: #717171 !important;
      }

      .btn-cta {
        background: $blue;
        margin-top: 40px;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    .wrapper {
      display: flex;
      flex-wrap: wrap;

      .item {
        margin: 0 !important;
        margin-bottom: 20px !important;

        .bg-item {
          border-radius: 57px 0 0 57px;
          width: 100%;
          height: 100%;
        }

        .infos {
          border-radius: 0 57px 57px 0;
          padding: 40px;

          .titulo {
            max-width: 200px;
          }
          .btn-cta {
            margin-left: 0 !important;
          }
        }

        &:nth-child(odd) {
          padding-left: 0;
        }
        &:nth-child(even) {
          padding-right: 0;
        }
      }
    }
  }
}
