.porque-fazer-parte {

  .title {
    font-size: 49px;
    text-align: center;
    margin-bottom: 20px !important;
  }

  .box-blue {
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 50px 30px;
    color: white !important;
    background: #24abce;
    border-radius: 57px;

    .item {
      display: flex;
      align-items: center;

      & + .item {
        margin-top: 25px;
      }

      &:last-child {
        align-items: center;
      }

      img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }

      .text {
        font-size: 18.5px;
        text-align: left;
        color: #fff;
      }
    }
  }
  .custom-container {

  .content-wrapper {
    padding: 40px 30px;
     p {
      font-size: 16px;
      margin-bottom: 20px;
      }
      .btn-cta {
        margin-left: 0;
      }
  }

  .btn-cta {
    font-size: 18.5px !important;
    padding: 24px 23px !important;
  }
}

}

.passos {
  .passos-box {
    padding-bottom: 20px;
    .passo-item {
      text-align: center;
      .title {
        margin-top: 40px;
        margin-bottom: 25px;
        padding-bottom: 0;
        color: $blue2;

        span {
          display: inline-block;
          color: $blue !important;
        }
      }

      p {
        margin-bottom: 40px;
      }
    }
  }

  .green-box {
    background: $blue2;
    color: white;
    padding: 40px;

    text-align: center !important;

    h3 {
      font-weight: bold;
      font-size: 25px;
      color: #fff;
      margin-bottom: 20px;
    }

    p {
      color: #fff;
    }

    .btn-cta {
      background: $blue !important;
      margin-top: 30px;
    }
  }
}

@media (min-width: map-get($grid-breakpoints ,lg )) {
  .porque-fazer-parte {
    padding-bottom: 50px;
    padding-top: 90px;

    .container {
      .title {
        padding-bottom: 0;
        text-align: left;
      }

      .line-title {
        width: 95%;
        margin-left: 0 !important;
      }

      .box-blue {
        padding: 30px 50px;
        margin: 0;
      }

      .btn-cta {
        margin: 0 0 0 auto;
        margin-top: 40px !important;
      }
    }
  }

  .custom-container {
    max-width: 1140px;
    padding: 30px ;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    img {
      border-radius: 57px;
    }

    .content-wrapper {
      padding-top: 0 !important;
    }
  }

  .passos {
    .passos-box {
      max-width: 1140px;
      padding: 0 30px;
      margin: 0 auto;
      margin-bottom: 90px !important;

      .passo-item {
        text-align: left;
        align-items: center;
        img {
          border-radius: 57px;
        }

        & + .passo-item {
          margin-top: 100px;
        }
      }

      .passo-item:nth-child(even) {
        text-align: right;

        @extend .flex-lg-row-reverse;
      }
    }

    .green-box {
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .d-lg-flex {
        h3 {
          margin-bottom: 0;
        }

        span {
          height: 10px;
          width: 10px;
          border-radius: 5px;
          background: white;
          margin: 0 15px;
        }
      }

      .btn-cta {
        margin: 0;
      }
    }
  }
}
