.pre-footer {
  background: $blue2;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  .container {
    justify-content: center;
  }

  .big {
    font-weight: bold;
    font-size: 28px;
    margin: 0 auto;
    color: #fff;
    max-width: 90%;

    span {
      color: $green;
      display: inline-block;
    }
  }

  p {
    color: white;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .btn-wrapper {
    margin-left: 30px;
    display: flex;
    align-items: center;

    .up-btn {
      padding: 10px;
      color: white;
      margin-left: 40px;
      border: 2px solid white;
      border-radius: 48%;
    }

    .btn-cta {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    .container {
      display: flex;
      align-items: center;

      .big {
        margin: 0;
      }

      p {
        margin: 0;
      }

      span {
        &::after {
          display: inline-block;
          content: "";
          height: 10px;
          width: 10px;
          border-radius: 5px;
          background: white;
        }
      }
    }
  }
}

footer {
  background: $blue;
  padding-top: 60px;

  .col-md-3.col-7 {
    margin: 0 auto;
  }

  img {
    width: 100%;
    margin-bottom: 20px;
  }

  .links {
    a {
      display: block;
      font-family: Roboto;
      font-weight: bold;
      font-size: 24px !important;
      text-align: center;
      color: #fff;
      padding-top: 40px;
    }
  }
  .btn-restrict {
    background: $green;
    padding: 20px !important;
    width: 230px;
    height: 60px;
    margin: 40px auto;
    line-height: 0px !important;
  }
  .midias-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    padding-bottom: 80px;

    a {
      color: white;
      font-size: 30px;
    }
  }

  .gray-area {
    background: #3a3a3c;
    padding: 24px;

    .mobilizacao {
      align-items: center;
      justify-content: center;

      position: relative;

      img {
        margin-bottom: 0 !important;
        margin-left: 30px;
        width: unset;
      }
    }

    span,
    a {
      font-family: Roboto;
      font-size: 12px;
      text-align: center;
      color: #fff;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg )) {
    height: unset !important;
    padding-top: 50px !important;

    .container {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      max-width: 1300px;

      .logo-white {
        width: 150px;
      }

      .links {
        align-items: center;
        justify-content: space-around;

        a {
          padding-top: 0;
          font-size: 16px !important;
          line-height: 20px !important;

          &:hover {
            color: black;
          }
        }

        .btn-faca {
          margin: unset !important;
        }

        .btn-restrict {
          margin: unset;
          padding: 7px 20px !important;
          display: flex !important;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: unset;
        }
      }

      .midias-header {
        margin: unset;
        padding: 0 !important;
        // top: 0px;
        // right: 4%;
        // position: absolute;
        a {
          font-size: 18px !important;
          &:hover {
            color: black !important;
          }
        }
      }
    }

    .gray-area {
      margin-top: 40px;
      height: 50px;

      .cont-lg {
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        height: 100%;

        span {
          font-size: 12px;
        }
      }

      a:hover {
        color: #ec4e21;
      }
    }
  }
}
