.list-frentes {
  margin-top: 40px;

  .list-frentes-mobile {
    .carousselFrentes .item-carosel:first-child {
      .bg-cinza {
        img {
          height: 65px;
          width: 36px;
        }
      }
    }

    .frentes-conteudo {
      padding: 0 40px 63px 40px;
      .cta-projetos {
        display: inline-block;
        padding: 15px 35px;
        background-color: $green;
        color: white;
        margin-top: 36px;
        border-radius: 35px;
      }
      .foto-do-lider {
        margin-bottom: 34px;
      }
      h3 {
        font-weight: bold;
      }
    }
  }
  .custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7px;
    margin-left: -7px;
  }

  .wrap-mobile {
    background-color: #f2f2f2;
    border-radius: 35px;
    min-height: 322px;
  }

  .frente-item {
    @media (min-width: map-get($grid-breakpoints,lg)) {
      @include make-col(12/5);
      padding: 7px;
      &:not(.collapsed) {
        padding-bottom: 0;
        .bg-cinza {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      .bg-cinza {
        border-radius: 35px;
        background-color: #f2f2f2;
      }
    }
    .bg-cinza {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      padding: 60px 20px;
      cursor: pointer;

      h2 {
        text-align: center;
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 0px;
      }
      .linha {
        width: 100%;
        max-width: 120px;
        border-top: 2px solid;
        height: 0px;
        opacity: 1;
        margin: 19px auto 40px;
      }
    }
    &:nth-child(1) {
      h2 {
        color: #2a9549;
      }
      .linha {
        border-color: #2a9549;
        background-color: #2a9549;
      }
    }
    &:nth-child(2) {
      h2 {
        color: #2faeeb;
      }
      .linha {
        border-color: #2faeeb;
        background-color: #2faeeb;
      }
    }
    &:nth-child(3) {
      h2 {
        color: #25a1ab;
      }
      .linha {
        border-color: #25a1ab;
        background-color: #25a1ab;
      }
    }
    &:nth-child(4) {
      h2 {
        color: #239677;
      }
      .linha {
        border-color: #239677;
        background-color: #239677;
      }
    }
    &:nth-child(5) {
      h2 {
        color: #24abce;
      }
      .linha {
        border-color: #24abce;
        background-color: #24abce;
      }
    }
  }
  .list-frentes-desktop {
    .collapse {
      border-radius: 35px;
      &:nth-child(1) {
        .frentes-conteudo {
          border-top-left-radius: 0;
        }
      }
      &:nth-last-child(1) {
        .frentes-conteudo {
          border-top-right-radius: 0;
        }
      }
    }
    .frentes-conteudo {
      background-color: #f2f2f2;
      padding: 57px 57px 100px;
      border-radius: 35px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 32px;
      }
      h3 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 36px;
      }
      .foto-do-lider {
        margin-bottom: 32px;
      }
      .cta-projetos {
        display: inline-block;
        padding: 15px 35px;
        background-color: $green;
        color: white;
        margin-top: 36px;
        border-radius: 35px;
      }
      .direita {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
  }
}
