.ativo {
  height: 100vh !important;
  align-items: baseline !important;
  position: fixed !important;
  background: $blue !important;

  .logo-header {
    filter: brightness(0) invert(1);
    position: relative;
    top: -1px;
  }

  .menu {
    position: absolute;
    max-height: 100% !important;
    top: 110px;
    a {
      padding: 10px 0;
    }
  }
}

.btn-faca {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 12px 20px !important;
  border-radius: 27.5px;
  background: $blue2;
  margin-left: 30px;
  max-width: 186px;
  margin: 20px auto;

  &:hover {
    color: white !important;
    transform: scale(1.04) !important;
  }
}

.height-custom {
  height: 126px !important;
}

.top-nav {
  padding: 30px;
  height: 126px;
  position: absolute;
  background: transparent;
  top: 0;
  z-index: 4000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: height 0.2s ease-in-out;
  overflow: hidden;
  right: 0;

  .btn-midias {
    display: flex;
    justify-content: space-between;

    a {
      color: white;
      font-size: 21px;
      position: relative;
      top: 20px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    transition: max-height 0s ease-in-out;

    a,
    span {
      font-family: "Open Sans";
      font-size: 25px;
      font-weight: bold;
      line-height: 35px;
      text-align: left;
      color: #fff;
    }

    .btn-faca {
      margin-left: 0 !important;
    }

    .midias-header {
      display: flex;
      justify-content: space-between;

      a {
        color: #fff;
        font-size: 25px;
      }
    }
  }

  .menu-box {
    padding: 20px 15px;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    #menu-icon {
      top: 4px;
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 300px;
    }
  }

  //  Menu Icon

  // helper mixin
  @mixin hamburger_tint(
    $color: #fff,
    $tint_text: false,
    $labelselector: "+ label"
  ) {
    #{$labelselector} {
      i,
      &::before,
      &::after {
        background-color: $color;
      }
      @if $tint_text {
        span {
          color: $color;
        }
      }
    }
  }

  // main mixin
  @mixin hamburger(
    $width: 32px,
    $thickness: 3px,
    $gap: 7px,
    $color: #fff,
    $background: transparent,
    $tint_text: false,
    $radius: 0,
    $radius_background: 0,
    $anim: 0.25s,
    $labelselector: "+ label",
    $padding: 0,
    $text: "right",
    $style: false
  ) {
    $height: ($thickness * 3) + ($gap * 2);
    @if $background != transparent and $padding == 0 {
      $padding: round(($thickness + $gap) / 1.5);
    }
    display: none;
    #{$labelselector} {
      user-select: none;
      position: relative;
      display: inline-block;
      width: $width;
      height: $height;
      box-sizing: content-box;
      border: $padding solid transparent;
      z-index: 1050;
      line-height: $height;
      white-space: nowrap;
      background: $background;
      border-radius: $radius_background;
      span {
        display: inline-block;
        position: absolute;
        left: 100%;
        margin-top: 1px;
        transition: color $anim;
        margin-left: $padding;
        @if $text == false {
          display: none;
        }
        @elseif $text == 'left' {
          left: auto;
          right: 100%;
          margin-left: 0;
          margin-right: $padding;
        }
        &::before,
        &::after {
          content: "";
          display: inline-block;
          min-width: 10px;
          width: $width * 0.2;
        }
      }
      i,
      &::before,
      &::after {
        position: absolute;
        left: 0;
        display: block;
        will-change: transform, background-color;
        width: $width;
        height: $thickness;
        border-radius: $radius;
        transition: transform $anim, background-color $anim;
        backface-visibility: hidden;
        outline: 1px solid transparent; // Firefox jagged animation fix
      }
      i {
        top: $thickness + $gap;
        // hide text
        font-size: 0;
        color: transparent;
        line-height: 0;
        @if $style == "align-left" {
          max-width: $width * 0.75;
          transform-origin: 66% center;
        }
        @elseif $style == 'align-right' {
          max-width: $width * 0.75;
          margin-left: $width * 0.25;
          transform-origin: 33% center;
        }
      }
      &::before,
      &::after {
        content: "";
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &:checked {
      @if $anim != -1 {
        #{$labelselector} {
          i {
            transform: scaleX(0.001);
          }
          &::before {
            transform: translateY($gap + $thickness) rotate(45deg);
          }
          &::after {
            transform: translateY(-($gap + $thickness)) rotate(-45deg);
          }
        }
      }
    }
    @include hamburger_tint($color, $tint_text, $labelselector);
  }

  #toggle-text-on-left {
    @include hamburger($text: left, $style: "align-right");
  }

  &.is-not-home {
    background: $blue;
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in-out;

    .logo-header {
      filter: brightness(0) invert(1);
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .pre {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 5000;
    padding: 15px 60px;
    align-items: center;

    .linear-gradient {
      display: none;
    }

    .custom-logo img {
      width: 150px;
    }

    .links {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      .dropdown{
        button{
          border: 0;
          background: none;
          font-weight: bold;
          font-size: 19px;
          color: #fff;
          padding: 8px;
          &:after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
          }
          &:hover{
            color: $blue;
          }
        }
        .dropdown-menu {
          background: $blue;
          .dropdown-item{
            &:hover{
              background-color: transparent;
            }
          }
          a:hover{
            color: black;
          }
        }
      }
      
      .btn-faca {
        margin: 0;
      }

      a {
        font-weight: bold;
        font-size: 19px;
        color: #fff;
        padding: 8px;

        &:hover {
          color: $blue;
        }
      }
    }

    .btn-midias {
      justify-content: space-around;
      a {
        color: white;
        &:hover {
          color: $green;
        }
      }
    }

    &.is-not-home-pre {
      background: $blue;
      position: fixed;

      .linear-gradient {
        display: block !important;
      }

      .links a,
      .btn-midias a, .dropdown button {
        &:hover {
          color: black !important;
        }
      }

      .custom-logo {
        filter: brightness(0) invert(1);
        z-index: 5;
      }
    }
  }

  .height-custom {
    height: 174px;
  }

  .linear-gradient {
    display: block;
    width: 100%;
    height: 8px;
    background: rgb(42, 149, 73);
    background: linear-gradient(
      90deg,
      rgba(42, 149, 73, 1) 0%,
      rgba(35, 173, 238, 1) 100%
    );
    position: absolute;
    bottom: -8px;
    left: 0;
  }

  .is-home.fixed {
    background: $blue;
    position: fixed;
    transition: none !important;

    .linear-gradient {
      display: block !important;
    }

    .links a, .links button {
      &:hover {
        color: black;
      }
    }

    .custom-logo {
      filter: brightness(0) invert(1);
      position: relative;
    }
  }

  .top-nav.fixed {
    transition: none !important;
  }

  .top-nav {
    height: 100px;
    width: 40%;

    &.is-not-home {
      height: 130px;
    }

    .menu-box {
      position: absolute;
      right: 30px;
    }
  }

  .ativo {
    width: 52%;
    height: 80% !important;
    right: 0;
    border-bottom-left-radius: 40px;
    top: 0 !important;
    z-index: 10000;

    .menu {
      top: 30px;
      left: 100px;

      .btn-restrict {
        align-items: center;
        padding: 7px 20px !important;
      }

      .midias-header {
        a {
          line-height: 30px;
        }
      }
    }

    .logo-header {
      top: 0px !important;
    }
  }
}
