.wrapper-banner-home {
  position: relative;

  .banner-home,
  .banner-home-mob,
  .banner-home .item,
  .banner-home-mob .item {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    .text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-top: 80px;
      position: relative;

      h2 {
        font-weight: bold;
        font-size: 60px;
        line-height: 75px;
        text-align: center;
        color: white;
      }

      span {
        display: inline;
        color: $green;
      }
    }

    .item {
      position: relative;
    }

    .i1 {
      background: url("../../dist/img/b1.png");
    }

    .i2 {
      background: url("../../dist/img/b2.png");
    }

    .i3 {
      background: url("../../dist/img/b3.png");
    }

    .i4 {
      background: url("../../dist/img/b4.png");
    }

    .b1 {
      background: url("../../dist/img/Banner-mob-1.png");
      .btn-wrapper {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .b2 {
      background: url("../../dist/img/Banner-mob-2.png");
      .btn-wrapper {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-height: 730px) {
        background-position-y: -105px !important ;
      }
    }

    .b3 {
      background: url("../../dist/img/Banner-mob-3.png");
      .btn-wrapper {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-height: 730px) {
        background-position-y: -50px !important ;
      }
    }

    .b4 {
      background: url("../../dist/img/Banner-mob-4.png");
      .btn-wrapper {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .btn-wrapper {
    position: absolute;
    bottom: 10%;
    left: 4.5%;

    .sup-btn {
      color: white !important;
      margin-bottom: 20px;
      display: block;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .tns-nav {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    width: 100%;
    text-align: center;

    button {
      height: 15px;
      width: 15px;
      margin: 3px;
      border: 1px solid white;
      background: transparent;
      border-radius: 8px;
      &.tns-nav-active {
        background: white;
      }
    }
  }
}

.a-rede-home {
  padding-top: 85px;

  .title {
    text-align: center;
  }

  .btn-cta {
    margin-bottom: 40px;
  }

  .d-lg-flex.container {
    padding: 0 !important;

    .text-box-lg {
      padding: 0 30px;
    }
  }

  .text {
    margin-bottom: 40px;
  }

  .lixeira-box {
    position: relative;

    height: 423px;
    overflow: hidden;

    overflow: hidden;
    .efeito-circulos {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url("../../dist/img/fundo-lixeira.png") no-repeat;
      background-size: cover;
      background-position-x: -20px;
      background-position-y: 15px;
    }
    .lixeira {
      position: absolute;
      padding: 30px;
      bottom: -150px;
      z-index: 2;
    }

    .bottle {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.2s ease-in-out;
    }

    .b1 {
      bottom: 195px;
      left: 46%;
    }

    .b2 {
      bottom: 50px;
      left: 62%;
      width: 215px;
    }

    .b3 {
      bottom: 120px;
      width: 80px;
      left: 38%;
    }

    .b4 {
      width: 95px;
      bottom: 100px;
      left: 27%;
    }

    .b5 {
      bottom: 140px;
      left: 48%;
    }
  }

  .infos-plastico {
    padding-top: 50px;
    padding-bottom: 70px;
    background: $blue3;
    color: white !important;
    position: relative;

    .dados {
      margin-top: 30px;
      font-size: 14px;
      color: white;
      text-align: center;
    }

    .carousel-infos {
      .item {
        text-align: center;
        .big {
          font-size: 85px;
          line-height: 90px;
          color: white !important;
        }
        .mid {
          font-size: 60px;
          display: inline;
          line-height: 90px;
          color: white !important;
        }
        .small {
          max-width: 60%;
          margin: 0 auto;
          font-size: 20px;
          line-height: 23px;
          color: white !important;
        }
      }
    }

    .tns-nav {
      position: absolute;
      z-index: 2;
      bottom: 30px;
      width: 100%;
      text-align: center;

      button {
        height: 15px;
        width: 15px;
        margin: 3px;
        border: 1px solid white;
        background: transparent;
        border-radius: 8px;
        &.tns-nav-active {
          background: white;
        }
      }
    }
  }
}

.conquistas-da-rede {
  position: relative;
  overflow: hidden;
  background: $blue;
  padding-top: 40px;
  padding-bottom: 80px;
  border-bottom-left-radius: 120px;
  color: white;
  margin-bottom: 40px;

  .title {
    color: white !important;
    padding-bottom: 8px !important;
  }

  .line-title {
    background: white !important;
  }

  .wrapper-conquistas {
    position: relative;
    margin-bottom: 570px;

    @media (max-height: 670px) {
      margin-bottom: 510px;
    }

    .carousel-conquistas {
      .item {
        .wrapper {
          display: flex;
          align-items: center;
          color: white;

          img {
            width: 90px;
            margin-right: 10px;
          }

          .big {
            font-weight: 300;
            font-size: 63px;
            line-height: 65px;
            display: flex;
            align-items: center;
            color: white !important;

            span {
              font-size: 25px;
              line-height: 25px;
              display: inline;
              margin-left: 5px;
            }
          }

          .small {
            font-size: 20px;
            line-height: 25px;
            color: white !important;
          }
        }
      }
    }

    .conquistas-ctn {
      position: absolute;
      z-index: 2;
      bottom: -90px;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;

      button {
        border: none;
        background: none;
        font-size: 45px;
        color: #fff;
        opacity: 0.5;

        &.tns-nav-active {
          opacity: 1;
        }
      }
    }
  }

  .img-detail {
    position: absolute;
    top: 420px;
    left: -30px;
    height: 430px;
    width: 115%;
    background: url("../../dist/img/fundo-conquistas.png") no-repeat;
    background-size: cover;
    background-position-x: left;
  }

  .text {
    .custom-h4 {
      font-weight: bold;
      font-size: 39px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      max-width: 80%;
      margin: 0 auto;
    }

    .blue-font {
      color: white;
      font-size: 74px;
      line-height: 80px;
      margin-bottom: 15px;

      span {
        display: inline;
        color: white;
      }
    }

    .btn-cta {
      background: $blue !important;
      border: 1px solid white !important;
    }
  }
}

.faca-parte-home {
  .descubra,
  .faca-parte-cta {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    .titulo,
    .dot {
      font-weight: bold;
      font-size: 30.8px;
      color: $blue !important;

      span,
      .dot {
        color: $blue2;
        font-size: 56px !important;
        line-height: 40px !important;
        display: inline;
      }
    }
  }

  .faca-parte-cta {
    .titulo {
      max-width: 80%;
      margin: 0 auto;

      span {
        line-height: 30px !important;
        display: inline-block;
        margin-top: 15px;
      }

      &.big {
        max-width: 100% !important;
        font-size: 30.6px !important;
      }
    }

    .btn-cta {
      padding: 24px 26px !important;
      font-size: 19px !important;
      margin-top: 30px !important;
      position: relative;
      left: -5px;
    }
  }
}

.depoimentos {
  padding-top: 90px;

  .title {
    text-align: center;
  }

  .line-title {
    margin-bottom: 60px;
  }

  .wrapper-depoimentos {
    background: #f2f2f2;
    padding-bottom: 70px;

    .tns-controls {
      margin-top: 40px;
      padding: 0px 7px;
      border: 2px solid $blue;
      border-radius: 25px;
      width: max-content !important;
      button {
        background: none;
        border: none;
        color: $blue !important;
        margin: 3px;

        &:first-of-type::after {
          display: inline-block;
          content: "";
          height: 20px;
          width: 2px;
          background: $blue;
          position: relative;
          left: 7px;
          top: 2px;
        }
      }
    }

    .carousel-depoimentos {
      padding-top: 40px;

      .item {
        .wrapper {
          img {
            margin-bottom: 20px !important;
            padding: 20px;
            margin: 0 auto;
          }

          .name {
            font-weight: bold;
            font-size: 47px;
            color: #717171;
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.contato-home {
  padding-top: 40px;
  background: #ebebeb;
  background-size: cover;

  .title {
    text-align: center;
    color: $blue !important;
  }

  .template-contato {
    p + p {
      margin-top: 20px;
    }

    label {
      font-family: Roboto;
      font-weight: bold;
      font-size: 16px;
      text-align: left;
      color: #717171;
      position: relative;
      left: 30px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      margin-top: 5px;
      width: 100%;
      position: relative;
      left: -30px;
      padding: 20px 30px;
      border: none;
      border-radius: 35px;
      outline: none;
      font-family: Roboto;
      font-size: 18.5px;
      color: #d0d0d0;
    }

    .btn-cta {
      border: none;
    }
  }
}

@media (min-width: map-get($grid-breakpoints,lg )) {
  .wrapper-banner-home {
    .tns-nav {
      bottom: 80px;
      width: unset;
      right: 30px;
    }

    .text {
      h2 {
        position: relative;
        top: -80px;
        font-size: 70px !important;
      }
    }

    .btn-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      position: absolute;
      bottom: 55px;
      left: 30px;

      .sup-btn {
        position: relative;
        right: 120px;
        color: $green;
      }

      .sup-btn,
      .btn-cta {
        margin: 0 !important;
      }
    }
  }

  .a-rede-home {
    padding-top: 0;

    .title {
      text-align: left;
    }

    .line-title {
      margin-left: 0 !important;
    }

    .d-lg-flex.container {
      padding: 0 30px !important;
    }

    .text-box-lg {
      padding-top: 45px !important;
      padding-bottom: 99px !important;

      .btn-cta {
        margin: 0;
      }
    }

    .lixeira-box {
      height: 502px;
      width: 50%;
      position: absolute;
      right: 0;
      .efeito-circulos {
        background-color: transparent;
        background-position-x: 49px;
        background-position-x: 76px;
        background-size: contain;
        background-position-y: 34px;
        transition: 0.2s ease-in-out;
      }
      .lixeira {
        left: 110px;
      }

      .b1 {
        bottom: 275px;
      }

      .b2 {
        bottom: 131px;
        left: 62%;
        width: 255px;
      }

      .b3 {
        bottom: 229px;
        width: 90px;
        left: 42%;
      }

      .b4 {
        bottom: 200px;
        left: 33%;
        width: 110px;
      }

      .b5 {
        bottom: 238px;
      }
      &:hover {
        transition: all ease-in-out 0.3s;
        .efeito-circulos {
          transition: all ease-in-out 0.3s;
          transform: rotate(50deg);
        }
        .bottle {
          transition: all ease-in-out 0.3s;
        }
        .b1 {
          bottom: 295px;
        }
        .b2 {
          bottom: 151px;
          left: 64%;
        }
        .b3 {
          bottom: 249px;
          left: 40%;
        }
        .b4 {
          bottom: 220px;
          left: 30%;
        }
        .b5 {
          bottom: 258px;
        }
      }
    }

    .infos-plastico {
      padding-left: 5% !important;
      padding-right: 5% !important;

      .carousel-infos {
        justify-content: space-between;
        .item {
          position: relative;
          display: flex;
          width: 24%;

          .wrapper {
            padding-top: 30px;
            padding-bottom: 30px;
          }

          & + .item {
            &::before {
              display: flex;
              content: "";
              height: 100%;
              width: 2px;
              background: white;
            }

            .wrapper {
              &::before {
                display: block;
                position: absolute;
                content: "";
                top: 47%;
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background: white;
                left: -4.5px;
              }
            }
          }

          &:last-of-type {
            &::before {
              width: 3px !important;
            }
          }

          .small {
            max-width: 85%;
          }
        }
      }
    }
  }

  .conquistas-da-rede {
    position: relative;
    background: none;
    height: 960px;
    margin-bottom: 80px;

    .img-principal {
      margin: 0 auto;
      position: absolute;
      left: 66px;
      z-index: 5;
      top: 30px;
      width: 532px;
    }

    .green-square {
      padding: 100px 50px 100px 230px;
      width: 66%;
      height: 640px;
      background: $blue;
      position: absolute;
      right: 0;
      top: 0;
      border-bottom-left-radius: 200px;

      .title,
      .line-title {
        position: relative;
        left: -100px;
      }

      .line-title {
        margin-left: 0 !important;
        width: 70%;
      }

      .wrapper-conquistas {
        .carousel-conquistas {
          .item {
            & + .item {
              margin-top: 20px;
            }

            .wrapper {
              img {
                width: 70px;
              }

              .text {
                display: flex;
                align-items: center;

                .small {
                  font-size: 22px;

                  &.s1 {
                    max-width: 220px;
                    margin-left: 15px;
                  }

                  &.s2 {
                    max-width: 200px;
                    margin-left: 10px;
                  }
                  &.s3 {
                    max-width: 280px;
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }

      .text-lg {
        position: absolute;
        bottom: -296px;
        z-index: 4;
        right: 22%;
        background: $blue3;
        border-radius: 50%;
        height: 400px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .custom-h4 {
          font-size: 28px;
          line-height: 25px;
          max-width: 54%;
        }

        .blue-font {
          color: white !important;
          font-size: 50px !important;
          line-height: 45px !important;
          max-width: unset !important;
        }

        .btn-cta {
          padding: 17px 20px;
          background: none !important;
          border: 2px solid #fff;
          font-size: 18.5px !important;
        }
      }
    }

    .garrafa {
      position: absolute;
      bottom: 20px;
      z-index: 5;
      left: 80px;
      width: 57%;
      transition: all ease-in-out 0.3s;
      animation: mover 10s ease-in-out;
      animation-iteration-count: infinite;
    }
  }

  .faca-parte-home {
    position: relative;
    overflow: hidden;
    .fundo-1,
    .fundo-2 {
      position: absolute;
    }

    .fundo-1 {
      width: 900px;
      left: -530px;
      top: -160px;
    }

    .fundo-2 {
      right: -348px;
      height: 945px;
      top: -15px;
    }

    .descubra,
    .faca-parte-cta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;

      img {
        border-radius: 57px;
      }

      .titulo {
        margin: 0;
        text-align: left;
        font-size: 29.8px;
      }

      .btn-cta {
        padding: 18px 19px !important;
        margin-top: 16px !important;
      }
    }

    .faca-parte-cta {
      padding-bottom: 100px !important;
    }
  }

  .depoimentos {
    margin-bottom: 150px;
    .wrapper-depoimentos {
      position: relative;
      border-radius: 35px;
      padding: 40px 80px 80px 40px !important;
      .item {
        .wrapper {
          display: flex;

          .img {
            padding: 0;
            width: 300px;
            height: auto;
            background-size: cover !important;
            background-position: center !important;
          }

          div {
            margin-left: 30px;
            padding-right: 40px;
            max-width: 70%;
            .name {
              text-align: left !important;
            }
          }
        }
      }

      .tns-controls {
        position: absolute;
        right: 40px;
        bottom: 40px;
        margin-top: unset !important;
      }
    }
  }

  .contato-home {
    padding-top: 120px;
    padding-bottom: 100px;
    background: #ebebeb;

    .template-contato {
      label {
        width: 100%;
      }

      .wpcf7-form {
        width: 80%;
        margin: 0 auto;
        .d-lg-flex {
          margin-top: 20px;
          margin-bottom: 20px;
          justify-content: space-between;

          label {
            width: 48%;
          }

          p {
            margin-top: 0;
          }
        }
      }
    }
  }

  .frentes-trabalho {
    p {
      margin: 0 auto !important;
      margin-bottom: 40px !important;
      font-size: 19px !important;
      max-width: 70%;
      text-align: center;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .lixeira-box {
    .lixeira {
      left: 85px !important;
    }
  }

  .conquistas-da-rede {
    .garrafa {
      bottom: 30px;
      left: 65px;
      width: 55%;
    }

    .green-square {
      .text-lg {
        left: 228px !important;
      }
    }
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  .lixeira-box {
    .lixeira {
      left: 130px !important;
    }
  }

  .conquistas-da-rede {
    .garrafa {
      bottom: 0px;
      left: 80px;
      width: 54%;
    }

    .green-square {
      .text-lg {
        left: 247px !important;
      }
    }
  }
}

@media (min-width: 1500px) {
  .lixeira-box {
    width: 760px !important;
    .efeito-circulos {
      background-position-x: 112px !important;
    }
    .lixeira {
      left: 150px !important;
    }
  }

  .conquistas-da-rede {
    .garrafa {
      bottom: -5px;
      left: 180px;
      width: 50%;
    }

    .img-principal {
      left: 10%;
    }
    .green-square {
      .text-lg {
        left: 32%;
      }
    }
  }
}

@media (min-width: 765px) and (max-width: 840px) {
  .wrapper-banner-home {
    .text {
      position: absolute;
      bottom: 65px;
      padding: 0;
      max-width: 100% !important;

      .btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .btn-cta {
          margin: 0;
        }
      }
    }
    .banner-home {
      height: 46vh !important;
      .item {
        height: 46vh !important;
      }
    }
  }
}
