.projetos {
  padding-top: 60px;
  padding-bottom: 90px;

  .intro {
    p:last-of-type {
      padding-bottom: 40px;
    }
  }

  .projetos-box {
    padding-top: 50px;
    .item {
      & + .item {
        margin-top: 40px;
      }

      .img {
        border-top-right-radius: 57px;
        border-top-left-radius: 57px;
        height: 171px;
        width: 100%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position-x: center !important;
      }

      .wrapper {
        padding: 26px;
        background: #f2f2f2;
        border-bottom-right-radius: 57px;
        border-bottom-left-radius: 57px;

        .titulo {
          font-weight: bold;
          font-size: 26px;
          color: $blue;
          margin-bottom: 15px;
        }

        .line-title {
          max-width: 80%;
          margin-bottom: 15px !important;
        }

        p {
          font-size: 16px !important;
        }

        .btn-cta {
          margin-top: 20px;
          background: $blue;
        }
      }
    }
  }

  .modal-form {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.473);
    z-index: 5000;
    top: 0;
    padding: 20px;
    display: none;
    align-items: center;

    .modal-content {
      padding: 30px;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
        h4 {
          color: $blue;
          font-size: 24px;
          font-weight: bold;
          max-width: 70%;
        }

        .close-modal {
          position: absolute;
          top: -27px;
          right: -27px;
          font-size: 40px;
          color: $green;
        }
      }

      .form {
        input[type="text"],
        input[type="email"] {
          width: 100%;
          margin-bottom: 20px;
          padding: 10px 8px;
          border-radius: 30px;
          border-color: $green;
          color: $green;
          outline: none;
        }

        .btn-cta {
          border: none;
          margin-top: 10px;
          padding: 20px 36px !important;
          outline: none;
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .container {
      max-width: 1300px;
    }

    .intro.container {
      img {
        border-radius: 57px;
      }

      .line-title {
        margin-left: 0 !important;
        width: 75%;
      }
    }

    .projetos-box {
      display: flex;

      .item {
        .img {
          height: 100%;
          border-top-right-radius: 0px;
          border-bottom-left-radius: 57px;
        }

        .wrapper {
          border-bottom-left-radius: 0;
          border-top-right-radius: 57px;

          .btn-cta,
          .line-title {
            margin-left: 0 !important;
          }
        }
      }

      .item:nth-child(odd) {
        padding-left: 0;
      }
      .item:nth-child(even) {
        padding-right: 0;
      }

      .item + .item {
        margin-top: 0;
        margin-left: 15px;
      }
    }

    .modal-form {
      .modal-content {
        width: 600px;
        margin: 0 auto;
        padding: 70px;

        .close-modal {
          top: -60px !important;
          right: -60px !important;
        }

        h4 {
          font-size: 40px !important;
          max-width: 60% !important;
          margin-bottom: 20px !important;
        }
      }
    }
  }
}
