.retorna {
  padding-top: 40px;

  .btn-cta {
    margin: 40px auto;
  }

  img {
    margin: 0 auto;
    display: block;
  }
}

.como-funciona {
  background: #ebebeb;
  padding: 80px 0;
  padding-bottom: 340px !important;
  position: relative;
  overflow: hidden;

  .title {
    font-size: 36px;
    text-align: left;
    line-height: 40px;
  }

  .line-title {
    max-width: 60%;
  }

  p {
    margin-bottom: 20px;
  }

  .btn-cta {
    margin-left: 0;
  }

  .mini {
    font-size: 10px;
    text-align: left;
    color: #717171;
    margin-top: 40px;
    line-height: 14px;
    position: absolute;
    bottom: 40px;
  }

  img {
    position: absolute;
    bottom: 85px;
  }
}

.green-section {
  background: #77ba2a;
  padding-top: 90px;
  padding-bottom: 90px;

  .title {
    font-family: Roboto;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
    text-align: left;
  }

  .line-title {
    background: #fff;
  }

  p {
    font-size: 16px;
    text-align: left;
    color: #fff;
  }

  .garrafa-wrapper {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    .garrafa {
      position: relative;
      display: block;
    }

    .btn {
      a {
        position: absolute;
        background: $blue2;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
      }

      .active {
        background: $green;
      }
    }

    .btn1 {
      a {
        bottom: 66px;
        right: 150px;
      }
    }

    .btn2 {
      a {
        bottom: 141px;
        left: 130px;
      }
    }

    .btn3 {
      a {
        right: 114px;
        top: 186px;
      }
    }

    .btn4 {
      a {
        top: 127px;
        left: 124px;
      }
    }
  }

  .tab-content {
    margin-top: 40px;
    .tab-pane {
      .titulo {
        text-transform: uppercase;
        font-family: Roboto;
        font-weight: bold;
        font-size: 26px;
        text-align: left;
        color: #278650;
        margin-bottom: 20px;
      }

      .btn-cta {
        margin-left: 0 !important;
        margin-top: 20px !important;
      }
    }
  }
}

.duvidas {
  background: url("../../dist/img/bg-duvidas-retorna.png") center center
    no-repeat;
  background-size: 140%;
  padding-top: 87px;
  padding-bottom: 79px;

  p {
    font-size: 16px;
    text-align: center;
    color: #717171;
    max-width: 75%;
    margin: 0 auto;
  }

  a {
    display: block;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #2fac66;
    text-align: center;
    padding-top: 10px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .retorna {
    max-width: 1140px;
    padding: 80px 0px;
    margin: 0 auto;
    align-items: flex-start;

    .title {
      font-size: 45px;
    }

    .br-57 {
      border-radius: 57px;
    }
  }

  .como-funciona {
    padding-bottom: 80px !important;
    .container {
      img {
        right: 0;
        left: unset !important;
        top: 10%;
      }
    }

    .mini {
      font-size: 12px !important;
      position: relative !important;
      bottom: unset !important;
    }

    .line-title {
      margin-left: 0 !important;
    }
    .embalagem {
      width: 50%;
    }
  }

  .wrapper-lg-retorna {
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;

    .line-title {
      margin-left: 0 !important;
    }

    .garrafa-wrapper {
      max-width: unset;
      width: 700px;

      .btn {
        a {
          height: 45px !important;
          width: 45px !important;
          border-radius: 25px !important;
        }
      }

      .btn1 {
        a {
          bottom: 100px;
          right: 235px;
        }
      }

      .btn2 {
        a {
          bottom: 211px;
          left: 202px;
        }
      }

      .btn3 {
        a {
          right: 182px;
          top: 298px;
        }
      }

      .btn4 {
        a {
          top: 203px;
          left: 200px;
        }
      }
    }
  }

  .duvidas {
    background-size: 60%;

    p {
      max-width: 35%;
    }
  }
}
