.single-eventos {
  padding-top: 40px;

  .gray-box {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #eaeaea;

    .data-local {
      margin-bottom: 20px;

      .sub {
        font-weight: bold;
        font-size: 32px;
        color: $blue;
        display: flex;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }

      .data {
        color: #717171;
      }
    }
  }

  .carousel-fotos {
    .item {
      height: 300px;
      width: 100%;
      background-size: cover !important ;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    .wrapper-lg {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 30px;
      padding-top: 30px !important;

      .title {
        max-width: 340px;
      }

      .line-title {
        margin-left: 0 !important;
        width: 100%;
      }
      .gray-box {
        padding: 85px 71px;
        border-radius: 57px;
        margin-top: 0;
        max-height: 400px;
        .data-local {
          & + .data-local {
            margin-top: 50px;
          }
          .sub {
            margin-bottom: 20px;
          }
        }
      }
    }

    .galeria-lg {
      margin-top: 50px;

      #tns1-item0 {
        display: none !important;
      }

      .maior {
        height: 402.29px;
        border-radius: 57px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
      }

      .menor {
        height: 132.24px;
        border-radius: 39px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
      }

      .wrapper {
        margin-top: 20px;
        position: relative;

        .tns-controls {
          position: absolute;
          z-index: 2;
          top: 43%;
          width: 100%;
          button {
            position: absolute;
            border: none;
            background: none;
            color: $blue;

            &:first-of-type {
              left: -3%;
            }

            &:last-of-type {
              right: -3%;
            }
          }
        }
      }
    }
  }
}

// SINGLE BLOG

.single-blog {
  padding-top: 40px;

  img {
    margin: 20px 0;
  }

  .conteudo {
    padding-bottom: 40px;
  }

  .next-post {
    padding-bottom: 30px;
    .title {
      font-size: 44px;
    }

    .line-title {
      margin-bottom: 15px !important;
    }

    .pre-post {
      text-align: center;
      font-size: 16px;
    }

    .post {
      margin-top: 30px;
      img {
        border-radius: 40px;
      }
      .titulo {
        font-weight: bold;
        font-size: 26px;
        color: $blue;
        margin-bottom: 15px;
      }
      p {
        font-size: 16px !important;
      }

      .btn-cta {
        background: $blue;
        margin: 20px 0 !important;
        padding: 15px 36px;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    #breadcrumbs,
    .title {
      text-align: center;
    }

    .pre-post {
      max-width: 70%;
      margin: 0 auto;
      margin-bottom: 50px !important;
    }

    .principal-img {
      width: 1140px;
      margin: 30px auto 90px auto;
      display: block;
      padding: 0 30px;
    }

    p {
      font-size: 16px;
      color: #717171;
      margin-bottom: 20px;
    }

    .conteudo {
      padding-bottom: 0;
    }

    .wrapper-posts {
      margin-bottom: 60px;
      position: relative;

      .tns-controls {
        position: absolute;
        top: 12%;
        z-index: 2;
        width: 100%;
        button {
          border: none;
          background: white;
          padding: 15px;
          border-radius: 50%;
          color: $blue;
          position: absolute;
          font-size: 20px;

          &:first-of-type {
            left: -2%;
          }

          &:last-of-type {
            right: -2%;
          }
        }
      }

      .carousel-posts-lg {
        .item {
          .img {
            border-radius: 30px;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            height: 184.83px;
          }
          .titulo {
            margin: 15px 0;
            font-weight: bold;
            font-size: 24px;
            color: $blue;
            padding-left: 15px;
          }

          p {
            font-size: 16px;
            color: #717171;
            padding-left: 15px;
          }

          .btn-cta {
            background: $blue !important;
            margin-left: 15px !important;
            padding: 15px 25px !important;
            font-size: 17px;
          }
        }
      }
    }
  }
}
