// VERTICAL
@media (min-width: 765px) and (max-width: 840px) {
  footer .col-md-3 {
    display: block;
    margin: 0 auto;
  }

  // HOME
  .lixeira-box {
    background-size: contain !important;
    background-position-x: center !important;
    background-position-y: center !important;

    .tablet-lixeira {
      display: block !important;
      margin: 0 auto;
    }

    .lixeira,
    .bottle {
      display: none !important;
    }
  }

  .conquistas-da-rede {
    .carousel-conquistas {
      .item {
        & + .item {
          margin-top: 20px;
        }
      }
    }
    .img-detail {
      background-size: contain !important;
      left: 0px;
      top: 530px;
      width: 100%;
      background-position-x: center !important;
    }
  }

  .depoimentos {
    padding-bottom: 40px;
    .wrapper {
      img {
        display: block;
        margin: 0 auto !important;
      }
    }
  }

  .contato-home {
    form {
      label {
        width: 100%;
      }
    }
  }

  .projetos-box {
    flex-direction: column;

    .item {
      .img {
        height: unset !important;
      }

      & + .item {
        margin-top: 30px !important;
      }
    }
  }

  .circularidade {
    .caroussel {
      padding-left: 30px;
    }
    .tns-controls {
      display: none;
    }
  }
}

// HORIZONTAL //

@media (min-width: 1020px) and (max-width: 1150px) {
  .is-home.fixed {
    width: 88%;
  }

  .pre {
    padding: 30px 20px !important;

    .links a {
      font-size: 14px;
      padding: 6px;
    }
  }

  footer {
    .col-md-3.col-7 {
      flex: 0 0 15% !important;
    }

    .container {
      padding: 0 !important;
      .links a {
        font-size: 14px !important;
      }
    }

    .links {
      flex: 0 0 75.667% !important;
      max-width: 76.667% !important;
    }
  }

  // HOME

  .banner-home {
    height: 80vh !important;

    .item {
      height: 80vh !important;
    }
  }

  .a-rede-home {
    overflow: hidden;

    .infos-plastico {
      .tns-nav {
        left: 0px;
      }
    }

    .lixeira-box {
      height: 534px;
      width: 44%;
      background-position-x: 0;

      .lixeira {
        left: 15px;
      }
    }
  }

  .conquistas-da-rede {
    .green-square {
      padding: 53px 50px 100px 230px;

      .title {
        font-size: 44px !important;
      }
    }

    .img-principal {
      width: 450px;
      left: 45px;
      top: 70px;
    }

    .garrafa {
      bottom: 100px;
      z-index: 5;
      left: 30px;
    }
  }

  // PROJETOS

  .projetos-box {
    .item {
      flex: 0 0 49% !important;
      & + .item {
        margin-left: 20px !important;
      }
    }
  }

  //  A REDE

  .sobre-rede {
    .header-text {
      .col-lg-7 {
        flex: 0 0 52.333% !important;
      }
    }

    .col-lg-6 {
      flex: 0 0 50% !important;
    }

    .col-lg-5 {
      max-width: 50% !important;
      flex: 0 0 50% !important;
      position: relative;
      left: -30px;
    }
  }

  .circularidade {
    .caroussel {
      .thumb,
      .icon-box {
        height: 250px !important;
      }
    }
  }

  // Single Evento
  .single-eventos {
    .wrapper-lg {
      max-width: 960px !important;
    }
  }
}
