@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

$gray: #fcfcfc;
$green: #2a9549;
$blue: #2ba79a;
$blue2: #23adee;
$blue3: #24abce;

@keyframes mover {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(10px, -15px);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  75% {
    transform: translate(25px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
html {
  scroll-behavior: smooth;
}

body,
p,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  color: #717171;
  font-size: 18.5px;
  line-height: 1.2em;
  margin-bottom: 0;

  span {
    display: block;
  }
}

img {
  @extend .img-fluid;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

#breadcrumbs {
  margin-bottom: 40px;
  text-align: center;
  span,
  a {
    display: inline-block;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: $blue;
  }
  @media (min-width: map-get($grid-breakpoints ,lg )) {
    text-align: left;
  }
}

.container {
  padding: 0 30px;
}

.title {
  font-weight: bold;
  font-size: 46px;
  line-height: 60px;
  color: $blue;
  padding-bottom: 18px;
  text-align: center;
  margin-bottom: 0;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    font-size: 48px;
    line-height: 55px;
    text-align: left;
  }
}

.line-title {
  width: 100%;
  height: 2px;
  background: $blue;
  margin-bottom: 40px;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    width: 45%;
    margin: 0 auto 40px auto !important;
  }
}

.btn-cta {
  border-radius: 38px;
  background: $blue;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 36px;
  width: max-content !important;
  margin: 0 auto;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: white;
    transform: scale(1.02);
    transition: all 0.1s ease-in-out;
  }
}

.btn-restrict {
  margin-top: 20px;
  padding: 15px 20px !important;
  border-radius: 30px;
  font-size: 16px !important;
  line-height: 20px !important;
  background: #22a88b;
}

#breadcrumbs {
  span {
    a::before {
      display: inline-block;
      margin-right: 7px;
      content: url("../../dist/img/icon-house.png");
    }
  }
}

@import "a-rede";
@import "blog";
@import "contato";
@import "eventos";
@import "faca-parte";
@import "footer";
@import "header";
@import "home";
@import "elos";
@import "projetos";
@import "single-eventos";
@import "frentes-trabalho";
@import "tablet";
@import "retorna";
